discord.py
aiohttp
websockets
chardet
maya
datetime
mojang
requests
responses
beautifulsoup4
bs4
fake-useragent
lxml
pip 
youtube_dl==2021.05.16
discord.py[voice]
ffmpeg
PyNaCl
colorlog
python-binary-memcached
pylibmc
pymongo
dnspython
selenium==4.0.0
webdriver_manager==3.5.1
selenium-stealth
vk_api
